<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
  }
</script>

<footer class="footer py-4 js-page-footer">
  <div class="main">


    {%- assign _site_author = site.author -%}
    {%- if _site_author.type == 'organization' -%}
      {%- assign _site_author_itemtype = 'http://schema.org/Organization' -%}
    {%- else -%}
      {%- assign _site_author_itemtype = 'http://schema.org/Person' -%}
    {%- endif -%}

    <div itemscope itemtype="{{ _site_author_itemtype }}">
      <meta itemprop="name" content="{{ _site_author.name }}">
      {%- assign _site_author_url = _site_author.url | default: '/'-%}
      {%- include snippets/get-nav-url.html path=_site_author_url -%}
      {%- assign _site_author_url = __return -%}
      <meta itemprop="url" content="{{ _site_author_url }}">
      {%- if _site_author.bio -%}
        <meta itemprop="description" content="{{ _site_author.bio }}">
      {%- endif -%}
      <div>
        <iframe src="https://1057846c.sibforms.com/serve/MUIEAKIrUXiSofwTBFZ3vtLCUwCpHs7H6OHZrJvQ8-vXP3rwnGdjPE_A_EOpD1HumEAv06Mpm1p-ZxEzDaRmY3-XpJaQQ8Qu063wP5kvqHek7M8TFkEyUqTA0SEUdI7IhARfMhPwvYKtKTDZYNeCq3-NX_QbgZyOxYA15qmHxrcSQAzi9Cha2aDyXJhVmQw-VCjLv4SEZcXG_HBA" frameborder="0" scrolling="no" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>
      </div>
    </div>
    {%- include snippets/get-locale-string.html key='COPYRIGHT_DATES' -%}
    {%- assign _locale_copyright_dates = __return -%}
  </div>
</footer>
