<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
  }
</script>

<footer class="footer py-4 js-page-footer">
  <div class="main">


    {%- assign _site_author = site.author -%}
    {%- if _site_author.type == 'organization' -%}
      {%- assign _site_author_itemtype = 'http://schema.org/Organization' -%}
    {%- else -%}
      {%- assign _site_author_itemtype = 'http://schema.org/Person' -%}
    {%- endif -%}

    <div itemscope itemtype="{{ _site_author_itemtype }}">
      <meta itemprop="name" content="{{ _site_author.name }}">
      {%- assign _site_author_url = _site_author.url | default: '/'-%}
      {%- include snippets/get-nav-url.html path=_site_author_url -%}
      {%- assign _site_author_url = __return -%}
      <meta itemprop="url" content="{{ _site_author_url }}">
      {%- if _site_author.bio -%}
        <meta itemprop="description" content="{{ _site_author.bio }}">
      {%- endif -%}
      <div>
        <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/9b5d794adbba54d2c8b5cbda1/4410d053993a11dc824a0d560.js");</script>
      </div>
    </div>
    {%- include snippets/get-locale-string.html key='COPYRIGHT_DATES' -%}
    {%- assign _locale_copyright_dates = __return -%}
  </div>
</footer>
