---
layout: none
---
<!DOCTYPE html>
{%- include snippets/get-lang.html -%}
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/9b5d794adbba54d2c8b5cbda1/4410d053993a11dc824a0d560.js");</script>
<html lang="{{ __return }}">
  <head>
    {%- include analytics.html -%}
    {%- include head.html -%}
    <script>
      {%- include scripts/utils/utils.js -%}
      {%- include scripts/lib/throttle.js -%}
      {%- include scripts/lib/lazyload.js -%}
    </script>
    {%- include scripts/variables.html -%}
  </head>
  <body>
    <div class="root" data-is-touch="false">
      {{ content }}
    </div>
    <script>
      {%- include scripts/common.js -%}
    </script>
    </body>
</html>
