---
layout: none
---
<!DOCTYPE html>
{%- include snippets/get-lang.html -%}
<html lang="{{ __return }}">
  <head>
    {%- include analytics.html -%}
    {%- include head.html -%}
    <script>
      {%- include scripts/utils/utils.js -%}
      {%- include scripts/lib/throttle.js -%}
      {%- include scripts/lib/lazyload.js -%}
    </script>
    {%- include scripts/variables.html -%}

    
    
  </head>
  <body>
    <div class="root" data-is-touch="false">
      {{ content }}
    </div>
    <script>
      {%- include scripts/common.js -%}
    </script>



    <script>
      window.chatwootSettings = {"position":"right","type":"standard","launcherTitle":"Chat with us","hideWidget":"no"};
      (function(d,t) {
        var BASE_URL="https://cwtest2.adcompsystems.com";
        var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=BASE_URL+"/packs/js/sdk.js";
        g.defer = true;
        g.async = true;
        s.parentNode.insertBefore(g,s);
        g.onload=function(){
          window.chatwootSDK.run({
            websiteToken: 'w89Y12imW8J1m9nsnEjj71Wj',
            baseUrl: BASE_URL
          })
        }
      })(document,"script");
    </script>



    </body>
</html>