---
layout: none
---
<!DOCTYPE html>
{%- include snippets/get-lang.html -%}
<html lang="{{ __return }}">
  <head>
    {%- include analytics.html -%}
    {%- include head.html -%}
    <script>
      {%- include scripts/utils/utils.js -%}
      {%- include scripts/lib/throttle.js -%}
      {%- include scripts/lib/lazyload.js -%}
    </script>
    {%- include scripts/variables.html -%}
    <script type="application/javascript">
      window.tiledeskSettings= 
      {
          projectid: "62fa5c831656190019a38573"
      };
      (function(d, s, id) { 
          var w=window; var d=document; var i=function(){i.c(arguments);};
          i.q=[]; i.c=function(args){i.q.push(args);}; w.Tiledesk=i;                
          var js, fjs=d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js=d.createElement(s); 
          js.id=id; js.async=true; js.src="https://widget.tiledesk.com/v5/launch.js";
          fjs.parentNode.insertBefore(js, fjs);
      }(document,'script','tiledesk-jssdk'));
    </script>
  </head>
  <body>
    <div class="root" data-is-touch="false">
      {{ content }}
    </div>
    <script>
      {%- include scripts/common.js -%}
    </script>

    </body>
</html>