<!-- Reusable template for a newsletter opt-in -->
<section class="section">
  <div class="container--sm">
    <h2 class="newsletter-header">
      {{- with .Site.Params.newsletter_header -}}
        {{- . -}}
      {{- else -}}
        Subscribe for Post Updates
      {{- end -}}
    </h2>
    <p class="newsletter-desc">
      {{- with .Site.Params.newsletter_description -}}
        {{- . -}}
      {{- else -}}
        Enter your email below to get notified of new content.
      {{- end -}}
    </p>
    <form id="newsletter-form" name="newsletter" method="POST" action="https://mm.adcompsystems.com/subscribe" accept-charset="utf-8" style="width: 100%; max-width: 700px;">
      <div style="display: flex; margin-bottom: 10px; width: 100%;">
        <label for="newsletter-form--name" style="width: 50px; margin-right: 10px; box-sizing: border-box;">Name</label>
        <input type="text" id="newsletter-form--name" name="name" placeholder="Your name..." required style="flex-grow: 1; box-sizing: border-box; width: 90%;">
      </div>
      <div style="display: flex; margin-bottom: 10px; width: 100%;">
        <label for="newsletter-form--input" style="width: 50px; margin-right: 10px; box-sizing: border-box;">Email</label>
        <input type="email" id="newsletter-form--input" name="email" placeholder="Your best email..." title="Enter your best email" required style="flex-grow: 1; box-sizing: border-box;">
      </div>
      <div style="display:none;">
        <label for="hp">HP</label>
        <input type="text" name="hp" id="hp" style="width: 100%; box-sizing: border-box;"/>
      </div>
      <input type="hidden" name="list" value="1yJ8HQkDJt4wQ892FQLyjlpQ"/>
      <input type="hidden" name="subform" value="yes"/>
      <button type="submit" id="newsletter-form--submit" class="btn-primary" style="width: 100%; box-sizing: border-box;">
        {{- with .Site.Params.newsletter_submit -}}
          {{- . -}}
        {{- else -}}
          Subscribe
        {{- end -}}
      </button>
    </form>    
  </div>
</section>